body{
    background-color: black;
}

div{
    display: inline;
}

img{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
}

#score, #commentary{
    color: white;
    font-size: 100px;
}